// ---
// ---

// TODO: before committing, please!!!! Remove comments from front matter.
// I've forgotten to do it TWO times.
// GitHub forgot how to update the page ONE time.

// Variables
:root {
	--border-radius: 1rem;
	--border-radius-small: 0.25rem;
	
	// Because of rounded corners, horizontal padding is greater.
	--padding-small-horiz: 1rem;
	--padding-small-vert: 0.5rem;
	
	--background: linear-gradient(#e66465, #9198e5);
	--background-blur: linear-gradient(#9198e5, #e66465);
	
	--primary: white;
	
	--bar-active-fg: black;
	--bar-active-bg: #ffffffb0;
	
	--blur-size: 1rem;
}

@mixin unselectable {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

// Reset Styles
* {
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	
	box-sizing: border-box;
}
html, body {
	@include unselectable;
	
	width: 100%;
	min-height: 100%;
	
	color: white;
	background-color: black;
	
	font-family: "Iosevka Term SS02", "Roboto", sans-serif;
	font-weight: 300;
}

::placeholder {
	opacity: 1;
}

body {
	display: flex;
	position: absolute;
	top: 0; left: 0;
	
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
	background-image: var(--background);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

input {
	font-size: 1rem;
}

#main {
	display: flex;
	position: relative;
	
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	min-height: 2rem;
	
	width: 90vw;
	height: auto;
	
	max-width: 40rem;
	
	border-radius: var(--border-radius);
	
	overflow: hidden;
	z-index: 1;
	
	&:not(.css-filter):not(.css-backdrop-filter) {
		background-image: var(--background-blur);
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}
	
	&.css-filter::before {
		content: "";
		position: absolute;
		
		// todo: ewww
		top: calc(var(--blur-size) * -4); left: calc(var(--blur-size) * -4);
		bottom: calc(var(--blur-size) * -4); right: calc(var(--blur-size) * -4);
		
		// top: 0; left: 0;
		// bottom: 0; right: 0;
		
		background-image: var(--background);
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
		
		filter: blur(var(--blur-size));
		
		z-index: -1;
	}
	
	&.css-backdrop-filter {
		backdrop-filter: blur(var(--blur-size));
	}
	
	#bar {
		display: flex;
		position: relative;
		
		justify-content: center;
		align-items: center;
		flex-direction: row;
		
		width: 100%;
		height: 2rem;
		
		// transition: all 0.25s ease;
		background-color: transparent;
		
		border-radius: var(--border-radius);
		overflow: hidden;
		
		&.on {
			--primary: var(--bar-active-fg);
			
			color: var(--bar-active-fg);
			background-color: var(--bar-active-bg);
		}
	
		#clock {
			@include unselectable;
			
			padding: var(--padding-small-vert) var(--padding-small-horiz);
			border-radius: var(--border-radius) 0 0 var(--border-radius);
			
			line-height: 1;
			
			color: var(--primary);
			background-color: transparentize($color: white, $amount: 0.75);
		}
		
		#searchForm {
			display: flex;
			
			height: 2rem;
			
			flex-grow: 1;
			
			color: var(--primary);
			background-color: transparent;
			
			#search {
				height: 2rem;
				
				flex-grow: 1;
				
				padding: var(--padding-small-vert) var(--padding-small-horiz);
				
				color: inherit;
				background-color: inherit;
				
				font-family: "Iosevka Term SS02", "Roboto", sans-serif;
				font-weight: 300;
				
				&::placeholder {
					color: transparentize($color: white, $amount: 0.5);
				}
			}
			
			#searchSubmit {
				width: 2rem;
				height: 2rem;
				
				color: inherit;
				background-color: inherit;
			}
		}
	}
	
	#results {
		display: flex;
		
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		
		width: 100%;
		
		background-color: transparent;
		
		line-height: 1.4;
		
		&.on {
			padding: 1rem;
		}
		
		.resultEntry {
			display: flex;
			
			justify-content: center;
			align-items: center;
			align-content: center;
			
			padding: 0.5rem;
			
			border-radius: var(--border-radius-small);
				
			text-decoration: none;
			color: var(--primary);
			
			.resultIcon {
				flex-shrink: 0;
				
				margin-right: 0.5rem;
				
				width: 1.5rem;
				height: 1.5rem;
				
				&.hasBGColor {
					border-radius: var(--border-radius-small);
					
					.resultIconSVG {
						padding: 0.25rem;
					}
				}
				
				.resultIconSVG {
					width: 100%;
					height: 100%;
					
					fill: white;
					stroke: none;
				}
			}
			
			.resultLabel {
				display: inline;
				
				line-height: 1.5rem;
			}
			
			&:hover {
				background-color: transparentize($color: white, $amount: 0.875);
			}
			
			&:focus {
				background-color: transparentize($color: white, $amount: 0.75);
			}
		}
	}
}
